section.banners#banners
    div.banners__slider
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Краски
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Обои
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Плинтуса
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Кисти
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Краски
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Краски
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
        a(href="#").banners__link.banner1
            img(src="assets/images/banner1.jpg", alt="banner1")
            div.banners__text-container
                div.banners__text
                    h1 Краски
                    h2
                        | Идеально подходят для стен и других поверхностей.
                        | Найди свой идеальный цвет!
    button(data-action="prev" disabled="true").banners__arrow.left
    button(data-action="next").banners__arrow.right
    div.banners__dots