@import '@scss/variables.scss';

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;

    & + & {
        margin-left: 24px;
    }

    img {
        max-width: 20px;
    };
}

.icon.basket {
    font-style: normal;
    background: $green;
    margin-left: 24px;
}

@include large-up {
    .icon {
        & + & {
            margin-left: 12px;
        }
    }

    .icon.basket {
        margin-left: 12px;
    }
}