<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors-Product
    body
        include ./blocks/header/header.pug
        include ./blocks/banners/banners.pug
        h1.h1 Краски
        include ./blocks/main/main.pug
        include ./blocks/footer/footer.pug
        include ./blocks/basket/basket.pug